html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    line-height: 2;
}


/*GLOBALES*/

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

.no-margin {
    margin: 0;
}

img {
    max-width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}


/*HEADER*/

.hero {
    background-image: url(../img/desktop.png );
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    height: 50rem;
    width: 100%;
    background-color: rgba(36, 36, 36);
    opacity: .5;
}

.contenido-hero {
    position: relative;
    color: #ffffff;
    margin-left: 10rem;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido-hero h1 {
    font-size: 3rem;
}

.contenido-hero p {
    font-size: 1.8rem;
}

.navegacion a {
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: 4rem;
    text-transform: uppercase;
    transition: ease-in-out 0.2s;
}

.navegacion a:hover {
    color: red;
}

.miImg {
    max-width: 20%;
    position: relative;
    margin-right: 5rem;
}


/*BARRA*/

.logo img {
    margin-left: 5rem;
    max-width: 7rem;
}

.barra {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*SECCTION 1*/

main {
    max-width: 100%;
}

.tecnologias h2 {
    text-align: center;
    margin-top: 3rem;
    text-decoration: overline;
}

.contenedor-tec {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    margin-bottom: 10rem;
    text-align: center;
    margin: 0 auto;
    height: 50rem;
    max-width: 1300px;
}

.tecno {
    height: 10rem;
    padding: 5rem;
    margin-bottom: 10rem;
    transition: all 0.5s ease-in-out;
}

.tecno i {
    font-size: 10rem;
}

.tecno p {
    font-size: 2rem;
}

.tecno:hover {
    color: red;
    transform: scale(1.1);
}

.tecno.know:hover {
    color: green;
}


/*Experiencia Laboral*/

.contenedorExp {
    background-color: #e3e4e5;
    max-width: 60%;
    margin: 10rem auto -1rem auto;
    border-radius: 2rem;
    height: 120rem;
}

.experiencia h2 {
    text-align: center;
    text-transform: uppercase;
}

.trabajos {
    border: solid black;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.descripcion h3 {
    color: black;
    font-size: 3rem;
}

.descripcion p {
    font-size: 1.7rem;
    font-weight: 700;
    padding: 2rem;
}

.descripcion p span {
    text-decoration: underline;
    font-weight: 900;
}

.trabimg img {
    max-width: 20rem;
}


/*PRACTICAS*/

.contenedor-practicas {
    max-width: 1000px;
    margin: 0 auto;
}

.contenedor-practicas h3 {
    padding-top: 5rem;
    margin-bottom: 2rem;
    text-decoration: overline underline;
}

.practicas {
    display: flex;
    justify-content: space-between;
}

.sitiosp {
    flex-basis: calc(33.3% - 1rem);
    transition: ease-in-out 0.2s;
}

.sitiosp:hover {
    transform: scale(1.1);
}

.imagenExc {
    height: 22rem;
}

.imagenExc img {
    margin: auto;
    width: 30rem;
    height: 20rem;
}

.descriptionExc {
    text-align: center;
    font-size: 2rem;
}


/*LOOKFOR*/

.contenedor-busco h3 {
    text-align: center;
    margin-top: 5rem;
    text-transform: uppercase;
    color: #eba8a8;
    text-decoration: underline;
    position: relative;
    font-size: 3rem;
}

.tecuento {
    height: 50rem;
    max-width: 1200px;
    margin: 0 auto;
}

.busco {
    background-color: rgb(0, 0, 0);
    padding: 2rem;
}

.busco p {
    line-height: 1.5;
    font-size: 2rem;
    font-weight: 900;
    position: relative;
    color: #ecb3b3;
}


/** Paralax **/

.paralax::before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    opacity: 0.8;
    background-image: url(../img/tecnos4.jpg);
}

.fondo {
    position: relative;
    height: 100%;
}


/**Formulario**/

.formulario h2 {
    padding: 2rem 0;
    text-align: center;
    text-transform: uppercase;
}

form {
    background-color: rgba(91, 108, 110, 0.3);
    padding: 2rem;
}

form legend {
    color: red;
    margin: 0 auto;
    padding: 2rem;
    font-size: 2rem;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
}

.campo label {
    flex: 0 0 90px;
    padding-top: 1rem;
    font-size: 2rem;
}

.campo input {
    flex: 1;
    height: 4rem;
}

.campo textarea {
    flex: 1;
    height: 10rem;
}

.w-100 {
    flex: 0 0 100%;
}

.enviar {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
}

.enviar input:hover {
    cursor: pointer;
}


/*ERROR*/

#errorN {
    width: 700px;
    clear: both;
    margin: 0 auto;
    text-align: center;
}

#errorT {
    width: 700px;
    clear: both;
    margin: 0 auto;
    text-align: center;
}

#errorE {
    width: 700px;
    clear: both;
    margin: 0 auto;
    text-align: center;
}

#errorM {
    width: 700px;
    clear: both;
    margin: 0 auto;
    text-align: center;
}


/*FOOTER*/

.footer {
    margin-top: 2rem;
    padding: 2rem;
    background-color: black;
    width: 100%;
}

.footer h2 {
    color: #ffffff;
    font-size: 2rem;
}

.contenedor-footer {
    display: flex;
    justify-content: space-between;
}

.navegacionF {
    display: flex;
    text-align: center;
}

.navegacionF a {
    margin-right: 2rem;
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
}